<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmsystem.mapper.DocinfotableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hmsystem.pojo.Docinfotable">
        <id column="docnum" property="docnum" />
        <result column="medicinenum" property="medicinenum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        docnum, medicinenum
    </sql>

</mapper>
