<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmsystem.mapper.ManufacturetableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hmsystem.pojo.Manufacturetable">
        <id column="manufacturenum" property="manufacturenum" />
        <result column="manufacturername" property="manufacturername" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        manufacturenum, manufacturername
    </sql>

</mapper>
