<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmsystem.mapper.UsertableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hmsystem.pojo.Usertable">
        <id column="userid" property="userid" />
        <result column="userpassword" property="userpassword" />
        <result column="identity" property="identity" />
        <result column="createdate" property="createdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userid, userpassword, identity, createdate
    </sql>

</mapper>
