<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hmsystem.server.mapper.RationinfotableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.hmsystem.server.pojo.Rationinfotable">
        <id column="rationinfonum" property="rationinfonum" />
        <result column="departmentnum" property="departmentnum" />
        <result column="medicinenum" property="medicinenum" />
        <result column="medicinename" property="medicinename" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rationinfonum, departmentnum, medicinenum, medicinename
    </sql>

</mapper>